/* --------------------------------------------------------
Style Sheet for Ontpillen -> for the pages that are not the homepage. (Drugpages, search result page, disclaimer page etc.)

author: Naomi Hindriks
------------------------------------------------------------*/

.page {
    color: var(--color-dark);
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
    background-color: var(--color-light-background);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}