<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nl">

<head th:replace="template :: head(${drugName})"></head>

<body>

<nav th:replace="template :: header-nav"></nav>

<section th:replace="template :: subheader('breadcrumb', ${drugName.substring(0,1).toUpperCase() + drugName.substring(1)}, 'true')"></section>

<th:block th:with="drug = ${drugDao.getDrugByName(drugName)}">
    <th:block th:if="${#session.getAttribute('userType').toString()} == 'PATIENT'">

        <th:block th:switch="${drug.class}">

            <th:block th:case="${T(nl.bioinf.minorapplicationdesign.ontpillen.model.data_storage.DrugSubstance)}">
                <div>
                    <h3>Beschrijving:</h3>
                    <p th:each="data: ${drug.getDescriptionPatient()}" th:text="${data}"></p>
                    <th:block th:unless="${drug.getInteractionsPatient().isEmpty()}">
                        <h3>Interacties met andere medicijnen:</h3>
                        <p th:each="data: ${drug.getInteractionsPatient()}" th:text="${data}"></p>
                    </th:block>
                    <h3>Stop indicaties:</h3>
                    <p th:each="data: ${drug.getStopIndications()}" th:text="${data}"></p>
                    <h3>Gebruik indicaties:</h3>
                    <ul>
                        <li th:each="data : ${drug.getUseIndications()}" th:text="${data.getName()}"></li>
                    </ul>
                </div>
                <th:block th:replace="sideEffectTemplate :: sideEffects(${drug})"></th:block>
            </th:block>

            <th:block th:case="${T(nl.bioinf.minorapplicationdesign.ontpillen.model.data_storage.DrugGroup)}">
                <th:block th:replace="sideEffectTemplate :: sideEffects(${drug})"></th:block>
            </th:block>

        </th:block>
    </th:block>

    <th:block th:if="${#session.getAttribute('userType').toString()} == 'PRACTITIONER'">
        <th:block th:switch="${drug.class}">
            <th:block th:case="${T(nl.bioinf.minorapplicationdesign.ontpillen.model.data_storage.DrugSubstance)}">
                <div>
                    <h3>Beschrijving:</h3>
                    <p th:each="data: ${drug.getDescriptionPractitioner()}" th:text="${data}"></p>
                    <th:block th:if="${not drug.getInteractionsPractitioner().isEmpty()}">
                        <h3>Interacties met andere medicijnen:</h3>
                        <p th:each="data: ${drug.getInteractionsPractitioner()}" th:text="${data}"></p>
                    </th:block>
                    <h3>Stop indicaties:</h3>
                    <p th:each="data: ${drug.getStopIndications()}" th:text="${data}"></p>
                    <p>Gebruik indicaties:</p>
                    <ul>
                        <li th:each="data : ${drug.getUseIndications()}" th:text="${data.getName()}"></li>
                    </ul>
                </div>
                <th:block th:replace="sideEffectTemplate :: sideEffects(${drug})"></th:block>
            </th:block>
            <th:block th:case="${T(nl.bioinf.minorapplicationdesign.ontpillen.model.data_storage.DrugGroup)}">
                <th:block th:replace="sideEffectTemplate :: sideEffects(${drug})"></th:block>
            </th:block>
        </th:block>
    </th:block>
</th:block>

<footer th:replace="template :: footer"></footer>

<div th:replace="template :: scripts"></div>
</body>
</html>